<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% if validlink %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}
{#            <label>NEW PASSWORD</label>#}
{#            <input type="password" value="password">#}
{#            <label>CONFIRM PASSWORD</label>#}
{#            <input type="password" value="password">#}
            <button type="submit">Reset Password</button>
        </form>

    {% else %}
        <p>The Password Link is Invalid!!</p>
    {% endif %}
</div>
</body>
</html>